.client-glimpse {
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .client-glimpse h2 {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  .logo-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .logo-container {
    display: flex;
    transition: transform 0.1s linear;
  }
  
  .logo-item {
    flex: 0 0 16.666%; /* 6 logos visible at a time */
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .logo-image {
    width: 100%;
    height: 80px; /* Fixed height for smaller logos */
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .logo-item {
      flex: 0 0 25%; /* 4 logos visible on medium screens */
    }
  }
  
  @media (max-width: 480px) {
    .logo-item {
      flex: 0 0 33.333%; /* 3 logos visible on small screens */
    }
  }