.product-banner {
  background-image: url('./Banner.png');
  background-size: cover;
  background-position: center;
  padding: 40px 40px;
  min-height: 400px;
  display: flex;
  align-items: center;
}

.banner-content {
  max-width: 623px;
  text-align: left;
}

.banner-heading {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #333;
}

.banner-subheading {
  font-size: 1.2rem;
  margin-bottom: 10px;
  width: 100%;
  color: #555;
}

.cta-button {
  display: flexbox;
  padding: 10px 5px;    
  background-color: #5d90e4;
  color: white;
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  white-space: nowrap;    /* Ensures text stays on one line */
  text-align: center;     /* Centers the text within the button */
  font-size: 1rem;        /* Adjust as needed */
  line-height: 1.5;       /* Improves vertical centering of text */
}

.cta-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .digital-marketing-banner {
    padding: 60px 20px;
  }

  .banner-heading {
    font-size: 2rem;
  }

  .banner-subheading {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .banner-heading {
    font-size: 1.5rem;
  }
}