.column {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  background: transparent;
}

.marketing-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  background: transparent;
}

.grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-69xl);
  min-width: 574px;
  max-width: 100%;
  background: transparent;
}

.details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-116xl);
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
  background: transparent;
}

@media screen and (max-width: 1275px) {
  .details {
    gap: var(--gap-48xl);
  }
}

@media screen and (max-width: 1100px) {
  .column {
    flex-wrap: wrap;
  }
  .grid {
    gap: var(--gap-25xl);
  }
}

@media screen and (max-width: 750px) {
  .grid {
    min-width: 100%;
  }
  .details {
    gap: var(--gap-15xl);
  }
}

@media screen and (max-width: 450px) {
  .grid {
    gap: var(--gap-3xl);
  }
  .details {
    gap: var(--gap-mid);
  }
  .marketing-image {
    width: 100%;
    height: auto;
  }
}