.icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.highlight {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-1xl);
  margin-bottom: var(--gap-25xl);
}

.usp {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0;
}
.highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-0xl);
  text-align: left;
  font-size: var(--font-size-1xl);
  color: black;
  font-family: var(--font-inter);
}

@media screen and (max-width: 768px) {
  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .highlight {
    gap: 10px;
    margin-bottom: 15px;
  }

  .usp {
    font-size: 16px;
    line-height: 1.3;
  }

  .highlights {
    gap: 15px;
  }

  .item {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 450px) {
  .icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }

  .highlight {
    gap: 8px;
    margin-bottom: 10px;
  }

  .usp {
    font-size: var(--font-size-mid);
    line-height: 1.2;
    margin-bottom: 0;
  }

  .highlights {
    gap: 10px;
  }

  .item {
    padding-bottom: 5px;
  }
}