.banner {
  flex: 1;
  background: linear-gradient(to right, #f2b500, #ff9900); 
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: var(--padding-15xl);
  width: 100%;
}
.content-wrapper {
  max-width: 800px; /* Adjust this value as needed */
  text-align: center;
}


.cta-banner {
  width: 100%;
  margin-bottom: 20px; /* Add space between text and button */
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}

.banner-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-8xl) var(--padding-29xl);
  text-align: center;
  font-size: var(--font-size-2xl);
  color: #000;
  font-family: var(--font-inter);
}

@media screen and (max-width: 1100px) {
  .banner {
    gap: var(--gap-68xl);
    padding-left: var(--padding-250xl);
  }
}

@media screen and (max-width: 450px) {
  .cta-banner {
    font-size: var(--font-size-mid);
    line-height: 25px;
  }
  
  .button {
    padding: 0 var(--padding-xl);
  }

  .banner {
    gap: var(--gap-25xl);
    padding-left: var(--padding-115xl);
  }

  .banner-wrapper {
    padding-bottom: var(--padding-12xl);
  }
}
