.about-intro-child {
  border: 0;
  background-color: var(--color-gainsboro-100);
  height: 300px;
  width: 100%;
  outline: 0;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  padding: var(--padding-108xl); 
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: var(--font-size-2xl);
  color: var(--color-dimgray-100);
  resize: none; 
}

.frame-inner {
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-31xl) var(--br-31xl) var(--br-31xl);
  background-color: #f2b500;
  width: 206px;
}

.who-were {
  position: absolute;
  top: 12px;
  left: 22px;
  font-weight: 600;
  width: 348px;
  color: black;
}

.frame-container {
  position: relative;
  width: 100%;
  height: 68px;
  font-family: var(--font-poppins);
}
.about-paragraph-content {
  display: flex;
  max-height: 150px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.about-paragraph-content.expanded {
  max-height: none;
}

.read-more-button {
  font-weight: 600;
  cursor: pointer;
  color: black; /* Set text color */
  text-align: left; /* Center text */
  transition: background-color 0.3s ease; /* Smooth transition */
}



.about-paragraph {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xl);
}

.what-we-do {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  padding-left: var(--padding-xl);
}

.about-details {
  display: flex;
  flex-direction: column;
  gap: var(--gap-15xs); 
  padding-top: var(--padding-12xs);
  min-width: 368px;
}


.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  width: 100%;
}

.about-content-wrapper {
  display: flex;
  width: 100%;
  padding: 0 var(--padding-10xs) var(--padding-14xl);
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}

@media screen and (max-width: 1275px) {
  .about-content {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1100px) {
  .about-intro-child {
    flex: 1;
  }

  .about-content {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .about-intro-child {
    min-width: 100%;
  }

  .who-were {
    font-size: var(--font-size-5xl);
  }

  .what-we-do {
    font-size: var(--font-size-5xl);
    line-height: 25px;
  }
}

@media screen and (max-width: 450px) {
  .who-were {
    font-size: var(--font-size-lg);
  }

  .about-paragraph-content,
  .read-more-button {
    font-size: var(--font-size-base);
  }

  .what-we-do {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }

  .about-details {
    min-width: 100%;
  }
}
