.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #5d90e4;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.form-group.full-width {
  flex-direction: column;
  align-items: flex-start;
}

.form-group input,
.form-group textarea {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
}

.form-group.full-width input,
.form-group.full-width textarea {
  width: 100%;
}

.form-group textarea {
  resize: none;
  height: 100px;
}

.checkbox-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  gap: 10px 20px;
  margin-top: 10px;
  width: 100%;
  justify-content: start;
}

.checkbox-group label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.checkbox-group input[type="checkbox"] {
  margin: 0;
  justify-self: end;
}

.checkbox-group span {
  font-size: 14px;
  justify-self: start;
}

.form-group.full-width .checkbox-group {
  justify-content: start;
  align-items: start;
}
button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .contact-form-container {
    padding: 15px;
  }

  .contact-form-container h2 {
    font-size: 20px;
    padding: 8px;
  }

  .form-group {
    flex-direction: column;
  }

  .form-group input,
  .form-group textarea,
  .form-group.full-width input,
  .form-group.full-width textarea {
    width: 100%;
    margin-bottom: 10px;
  }

  .checkbox-group {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .checkbox-group label {
    white-space: normal;
  }

  button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .contact-form-container {
    padding: 10px;
  }

  .contact-form-container h2 {
    font-size: 18px;
    padding: 6px;
  }

  .form-group input,
  .form-group textarea {
    padding: 8px;
  }

  .checkbox-group span {
    font-size: 12px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}