.faq-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
  }
  
  .heading-container {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    margin-bottom: 0px;
  }
  
  .heading-container h2 {
    font-size: 28px;
    margin-bottom: 0px;
    color: #000;
  }
  
  .heading-container p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 100;
    font-size: 20px;
    color: #000;
  }
  
  .get-in-touch {
    background-color: #5d90e4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .get-in-touch:hover {
    background-color: #f2f2f2;
  }
  
  .questions {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .question-item {
    margin-bottom: 10px;
  }
  
  .question-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    color: #000;
  }
  
  .question-button:hover {
    background-color: #f9f9f9;
  }
  
  .answer {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 5px;
    font-size: 16px;
  }
  