.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0px 0px 0px 350px;
    margin-bottom: 50px;
    
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 50px;
    margin-bottom: 20px;
    
}

.arrows button {
    background-color: #ff9900;
    border-radius: 100%;
    font-size: 24px;
    cursor: pointer;
}

.testimonial-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    
    
}

.testimonial-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    background-color: #f2b500;
    padding: 10px;
    border-radius: 10px;
    color:#000;
}

.testimonial-photo img {
    width: 250px;
    height: 300px;
    background: transparent;
}

.testimonial-photo {
    margin: 0 20px;
}

.testimonial-info {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    background-color: #ff9900;
    padding: 10px;
    
}

.testimonial-info .name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: black;
}

.testimonial-info .designation {
    font-size: 14px;
    color: #000;
}
