.testimonials-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.arrows button {
    background-color: #ff9900;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.testimonial-box {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-box img {
    width: 40%;
    object-fit: cover;
    height: 350px;
}

.testimonial-content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.testimonial-info {
    background-color: #ff9900;
    padding: 20px;
    color: white;
}

.testimonial-info h3 {
    margin: 0;
    font-size: 24px;
}

.testimonial-info p {
    margin: 5px 0 0;
    font-size: 16px;
}

.testimonial-text {
    padding: 20px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.testimonial-text p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}