.get-in-touch3 {
  margin: 0;
  width: 206px;
  position: relative;
  font-size: inherit;
  line-height: 35px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.contact-heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
}
.email-separator {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}
.email-icon-container {
  width: 70px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xl);
  box-sizing: border-box;
}
.email {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  min-width: 60px;
}
.email-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  margin-top: -2px;
}
.assistmarketingdnain15 {
  position: relative;
  text-decoration: underline;
  line-height: 32px;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
  z-index: 1;
}
.email-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-9xs);
  margin-top: -2px;
}
.assistmarketingdnain16 {
  position: relative;
  text-decoration: underline;
  line-height: 32px;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
  z-index: 2;
}
.email-container2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  margin-top: -2px;
}
.social-separator {
  width: 70px;
  height: 70px;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left: 2px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}
.email-details {
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-98xl);
  box-sizing: border-box;
  position: relative;
}
.phone-number-container {
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}
.social-media1 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.social-media-icon-shapes {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-100);
}
.social-media-icon-rows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.facebook {
  position: relative;
  line-height: 32px;
  font-weight: 300;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.social-media-icon-rows-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child24 {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-100);
}
.rectangle-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.twitter {
  position: relative;
  line-height: 32px;
  font-weight: 300;
  display: inline-block;
  min-width: 69px;
}
.frame-parent46 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child25 {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-100);
}
.rectangle-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.linkedin {
  position: relative;
  line-height: 32px;
  font-weight: 300;
  display: inline-block;
  min-width: 83px;
}
.frame-parent47 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child26 {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-100);
}
.rectangle-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.instagram {
  position: relative;
  line-height: 32px;
  font-weight: 300;
  display: inline-block;
  min-width: 108px;
}
.frame-parent48,
.social-media-icons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.social-media-icons1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.social-media-heading {
  flex: 1;
  flex-direction: column;
}
.email-info,
.phone-info,
.social-media,
.social-media-heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-media {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
}
.email-info,
.phone-info {
  width: 148px;
  flex-direction: column;
  gap: var(--gap-2xl);
}
.email-info {
  width: 750px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.phone {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  min-width: 67px;
}
.phone-number-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
}
.phone-number-value1,
.phone-number-value2 {
  position: relative;
  line-height: 32px;
  font-weight: 300;
  z-index: 1;
}
.phone-number-value2 {
  align-self: stretch;
  z-index: 2;
  margin-top: -2px;
}
.phone-number-value-row {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.phone-number-separator-shape {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}
.phone-number-separator,
.phone-number-value {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.phone-number-separator {
  width: 74px;
  flex: 1;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.phone-number-value {
  height: 162px;
  width: 250px;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.business-hours {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.mon-sat {
  font-weight: 500;
}
.am-8pm {
  font-weight: 300;
  white-space: pre-wrap;
}
.mon-sat-container {
  position: relative;
  line-height: 31.2px;
  color: var(--color-dimgray-200);
  flex-shrink: 0;
}
.business-hours-content,
.business-hours-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.business-hours-content {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.business-hours-content-wrapper {
  width: 247px;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.phone-number-details,
.phone-number-heading-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.phone-number-details {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.phone-number-heading-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.address {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  min-width: 88px;
}
.no101-sy-no501 {
  align-self: stretch;
  position: relative;
  line-height: 31.2px;
  font-weight: 300;
  z-index: 1;
}
.address-content,
.address-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.address-content {
  flex: 1;
  flex-direction: column;
}
.address-content-wrapper {
  width: 374px;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.contact-details {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  font-size: var(--font-size-2xl);
}
.contact,
.contact-details,
.contact-info2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contact-info2 {
  width: 854px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-43xl);
}
.contact {
  width: 1400px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1100px) {
  .contact-info2 {
    gap: var(--gap-12xl);
  }
}
@media screen and (max-width: 750px) {
  .get-in-touch3 {
    font-size: var(--font-size-5xl);
    line-height: 28px;
  }
  .phone-number-details {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .get-in-touch3 {
    font-size: var(--font-size-lg);
    line-height: 21px;
  }
  .assistmarketingdnain15,
  .assistmarketingdnain16,
  .email,
  .facebook,
  .instagram,
  .linkedin,
  .social-media1,
  .twitter {
    font-size: var(--font-size-mid);
    line-height: 25px;
  }
  .email-info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .address,
  .business-hours,
  .mon-sat-container,
  .no101-sy-no501,
  .phone,
  .phone-number-value1,
  .phone-number-value2 {
    font-size: var(--font-size-mid);
    line-height: 25px;
  }
  .contact-info2 {
    gap: var(--gap-mini);
  }
}
