.result-driven-marketing,
.trust-the-process {
  width: 623px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.trust-the-process {
  margin: 0;
  font-size: inherit;
  line-height: 36.6px;
  font-weight: 400;
  font-family: inherit;
}
.result-driven-marketing {
  height: 36.6px;
  font-size: var(--font-size-xl);
  line-height: 31.2px;
  font-family: var(--font-inter);
  flex-shrink: 0;
}
.frame-child,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
}
.frame-item {
  top: 100px;
  left: 281px;
  background-color: var(--color-dimgray-100);
  width: 145px;
  height: 15px;
  z-index: 1;
}
.rectangle-parent {
  width: 1455px;
  height: calc(100% - 38px);
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -15px;
  bottom: 38px;
}
.company-info,
.frame-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.company-info {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-107xl-3) var(--padding-xl) 146.4px var(--padding-262xl);
  position: relative;
  gap: var(--gap-12xs-1);
  min-height: 384px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
.frame-parent {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 91px;
  gap: var(--gap-xl);
}
.about-us-page-child {
  width: 100%;
  height: 641px;
  position: absolute;
  margin: 0 !important;
  top: 491px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.about-us-page-item {
  width: 557px;
  height: 623px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
  z-index: 6;
}
.vector-icon11,
.vector-icon12 {
  width: 8px;
  height: 5.6px;
  position: absolute;
  margin: 0 !important;
  top: 65px;
}
.vector-icon11 {
  right: 528px;
}
.vector-icon12 {
  left: 704px;
}
.signed-by-base-typography-p6 {
  width: 1px;
  height: 1px;
  position: relative;
  display: none;
}
.spacer-286,
.text6 {
  align-self: stretch;
  position: relative;
  display: none;
}
.text6 {
  height: 20px;
  text-decoration: underline;
  line-height: 20px;
}
.spacer-286 {
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.hint6 {
  width: 91px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
}
.chevron-icon4,
.filled12 {
  width: 16px;
  height: 16px;
  position: relative;
  display: none;
}
.chevron-icon4 {
  overflow: hidden;
  flex-shrink: 0;
  z-index: 11;
}
.filled12 {
  z-index: 12;
}
.about-us-page {
  width: 100%;
  position: relative;
  background-color: var(--background-backgroundprimary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-8xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-27xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--content-contenttertiary);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1100px) {
  .company-info {
    padding-left: var(--padding-121xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .trust-the-process {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .frame-parent {
    padding-bottom: var(--padding-40xl);
    box-sizing: border-box;
  }
  .about-us-page {
    gap: var(--gap-4xl);
  }
}
@media screen and (max-width: 450px) {
  .trust-the-process {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .result-driven-marketing {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .company-info {
    padding-left: var(--padding-51xl);
    box-sizing: border-box;
  }
}

.meet-our-team {
  margin: 0;
  width: 347.8px;
  position: relative;
  font-size: inherit;
  line-height: 35px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.meet-our-team-wrapper {
  width: 1119.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
}