.vector-icon11,
.vector-icon12 {
  width: 8px;
  height: 5.6px;
  position: absolute;
  margin: 0 !important;
  top: 65px;
  right: 514px;
}
.vector-icon12 {
  right: 714px;
}
.footer {
  height: 373px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.signed-by-base-breadcrumbs-el,
.signed-by-base-breadcrumbs-el1,
.signed-by-base-breadcrumbs-el2,
.signed-by-base-breadcrumbs-el3,
.signed-by-base-breadcrumbs-el4,
.signed-by-base-breadcrumbs-el5,
.signed-by-base-breadcrumbs-el6,
.signed-by-base-breadcrumbs-el7,
.signed-by-base-breadcrumbs-el8 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.footer-content {
  width: 249.7px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.contact-us-page,
.footer-content,
.footer-section {
  display: flex;
  box-sizing: border-box;
}
.footer-section {
  align-self: stretch;
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-62xl) var(--padding-7xl) var(--padding-6xl)
    var(--padding-183xl);
  max-width: 100%;
  gap: var(--gap-xl);
}
.contact-us-page {
  width: 100%;
  position: relative;
  background-color: var(--background-backgroundprimary);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-8xl) 0 0;
  gap: var(--gap-52xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .footer-section {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .footer-section {
    padding-left: var(--padding-82xl);
    box-sizing: border-box;
  }
  .contact-us-page {
    gap: var(--gap-16xl);
  }
}
@media screen and (max-width: 450px) {
  .footer-section {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-34xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .contact-us-page {
    gap: var(--gap-lg);
  }
}
