.header-image-icon,
.header-image-icon1 {
  width: 8px;
  height: 5.6px;
  position: absolute;
  margin: 0 !important;
  top: 65px;
}
.header-image-icon {
  right: 528px;
}
.header-image-icon1 {
  left: 704px;
}
.signed-by-base-typography-p6 {
  width: 1px;
  height: 1px;
  position: relative;
  display: none;
}
.spacer-286,
.text6 {
  align-self: stretch;
  position: relative;
  display: none;
}
.text6 {
  height: 20px;
  text-decoration: underline;
  line-height: 20px;
}
.spacer-286 {
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.hint6,
.job-opening-post {
  flex-direction: column;
  justify-content: flex-start;
}
.hint6 {
  width: 91px;
  display: none;
  align-items: flex-start;
  z-index: 4;
}
.job-opening-post {
  width: 100%;
  position: relative;
  background-color: var(--background-backgroundprimary);
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: var(--padding-8xl) 0 0;
  box-sizing: border-box;
  gap: 70px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--content-contenttertiary);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .job-opening-post {
    gap: var(--gap-16xl);
  }
}
@media screen and (max-width: 450px) {
  .job-opening-post {
    gap: var(--gap-mid);
  }
}