.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #FF6100;
  width: 100%;
}

.logo-section,.important-links,.featured-services,.newsletter-section{
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.phone a, .email a {
  text-decoration: none;
  color: #000;
}

.social-icons {
  display: flex;
}

.social-icons img {
  margin-top: 10px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.important-links h3, .featured-services h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.important-links ul, .featured-services ul {
  list-style: none;
  padding: 0;
}

.important-links ul li, .featured-services ul li {
  margin-bottom: 5px;
}

.important-links ul li a, .featured-services ul li a {
  text-decoration: none;
  color: #000;
}

.newsletter-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.newsletter-signup {
  display: flex;
}

.newsletter-signup input {
  padding: 10px;
  margin-right: 10px;
  width: calc(100% - 120px);
  box-sizing: border-box;
}

.newsletter-signup button {
  padding: 10px 20px;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .logo-section, .important-links, .featured-services, .newsletter-section {
    margin-bottom: 20px;
  }
}
