.footer8 {
  height: 373px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.chevron-icon6,
.signed-by-base-breadcrumbs-el63,
.signed-by-base-breadcrumbs-el64,
.signed-by-base-breadcrumbs-el65,
.signed-by-base-breadcrumbs-el66,
.signed-by-base-breadcrumbs-el67,
.signed-by-base-breadcrumbs-el68,
.signed-by-base-breadcrumbs-el69,
.signed-by-base-breadcrumbs-el70 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.chevron-icon6 {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
}
.filled20,
.filled21,
.filled22,
.filled23 {
  height: 16px;
  width: 16px;
  position: relative;
  display: none;
  z-index: 5;
}
.filled21,
.filled22,
.filled23 {
  z-index: 6;
}
.filled22,
.filled23 {
  z-index: 7;
}
.filled23 {
  z-index: 8;
}
.signed-by-base-breadcrumbs-el71 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.footer-section7 {
  align-self: stretch;
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-62xl) var(--padding-7xl) var(--padding-6xl)
    var(--padding-183xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--content-contentprimary);
  font-family: var(--font-rubik);
}
@media screen and (max-width: 1275px) {
  .footer-section7 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .footer-section7 {
    padding-left: var(--padding-82xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .footer-section7 {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-34xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}