.footer2 {
  height: 373px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.signed-by-base-breadcrumbs-el18,
.signed-by-base-breadcrumbs-el19,
.signed-by-base-breadcrumbs-el20,
.signed-by-base-breadcrumbs-el21,
.signed-by-base-breadcrumbs-el22,
.signed-by-base-breadcrumbs-el23,
.signed-by-base-breadcrumbs-el24,
.signed-by-base-breadcrumbs-el25 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.filled12,
.filled13,
.filled14,
.filled15 {
  height: 16px;
  width: 16px;
  position: relative;
  display: none;
  z-index: 4;
}
.filled13,
.filled14,
.filled15 {
  z-index: 5;
}
.filled14,
.filled15 {
  z-index: 6;
}
.filled15 {
  z-index: 7;
}
.frame-child16,
.signed-by-base-breadcrumbs-el26 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.frame-child16 {
  height: 61px;
  width: 165.5px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgray);
}
.logo5 {
  position: relative;
  line-height: 32px;
  display: inline-block;
  min-width: 50.1px;
  z-index: 1;
}
.rectangle-parent8 {
  border-radius: var(--br-xl);
  background-color: var(--color-darkgray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-38xl) var(--padding-mini)
    var(--padding-39xl);
  z-index: 1;
  font-size: var(--font-size-2xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
.image-7-icon5 {
  height: 30px;
  width: 32.1px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.span5 {
  text-decoration: underline;
}
.a6 {
  color: inherit;
}
.footer-social-platform-container {
  flex: 1;
  position: relative;
  font-weight: 300;
  flex-shrink: 0;
  z-index: 1;
}
.chevron-icon4 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.footer-social-platform {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-social-link {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
}
.footer-social {
  width: 186.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.image-8-icon2 {
  align-self: stretch;
  width: 32.1px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 24px;
  z-index: 1;
}
.assistmarketingdnain8 {
  text-decoration: underline;
}
.assistmarketingdnain7 {
  color: inherit;
}
.assistmarketingdnain6 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  white-space: nowrap;
  z-index: 1;
}
.footer-contact,
.footer-contact-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-contact-details {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.footer-contact {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-10xs);
}
.footer-link,
.footer-links-divider {
  width: 30.1px;
  height: 30px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--background-backgroundprimary);
  z-index: 1;
}
.footer-link-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}
.footer-links-divider1,
.footer-links-divider2 {
  height: 30px;
  width: 30.1px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--background-backgroundprimary);
  z-index: 1;
}
.footer-links,
.footer-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.footer-top {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs-3);
}
.footer-content1,
.footer-section2 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.footer-content1 {
  width: 249.7px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.footer-section2 {
  align-self: stretch;
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-62xl) var(--padding-7xl) var(--padding-6xl)
    var(--padding-183xl);
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--content-contentprimary);
  font-family: var(--font-rubik);
}
@media screen and (max-width: 1350px) {
  .footer-section2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .footer-section2 {
    padding-left: var(--padding-82xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .logo5 {
    font-size: var(--font-size-mid);
    line-height: 25px;
  }
  .footer-section2 {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-34xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
