.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: linear-gradient(to right,#ff9900, #f2b500, #5d90e4); 
  width: 100%;
}

.logo-section,.important-links,.featured-services,.newsletter-section{
  display: flex;
  flex-direction: column;
}

.logo {
  cursor: pointer;
}
.logo img {
  width: 150px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.phone a, .email a {
  text-decoration: none;
  color: #000;
}

.social-icons {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.social-icons img {
  margin-top: 10px;
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.important-links h3, .featured-services h3 {
  font-size: 18px;
  margin-bottom: 0px;
  color: black;
}

.important-links ul, .featured-services ul {
  list-style: none;
  padding: 0;
}

.important-links ul li, .featured-services ul li {
  margin-bottom: 0px;
}

.important-links ul li a, .featured-services ul li a {
  text-decoration: none;
  color: #000;
}

.newsletter-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #000;
}

.newsletter-signup {
  display: flex;
}


.newsletter-signup input {
  padding: 10px;
  margin-right: 10px;
  width: calc(100% - 120px);
  box-sizing: border-box;
}

.newsletter-signup button {
  padding: 10px 20px;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 14px;
}

.chevron-icon{
  width: 10px;
  height: 10px;
}
@media (max-width: 768px) {
  .footer-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-section {
    margin-bottom: 20px;
    width: 100%;
  }

  .links-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  .important-links,
  .featured-services {
    width: 80%;
  }

  .newsletter-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-bottom {
    position: static;
    margin-top: 20px;
    width: 100%;
  }
}
