.footer-section {
  background-color: #f1f1f1;
}

.logo-section,.important-links,.featured-services{
  flex: 1;
  min-width: 250px;
  box-sizing: border-box;
}

.newsletter-section{
  flex: 1;
  min-width: 250px;
  box-sizing: border-box;
  width:45%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-details {
  margin-bottom: 10px;
}

.phone, .email {
  margin-bottom: 10px;
}

.phone a, .email a {
  text-decoration: none;
  color: #000;
}

.social-icons {
  display: flex;
}

.social-icons img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.important-links h3, .featured-services h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.important-links ul, .featured-services ul {
  list-style: none;
  padding: 0;
}

.important-links ul li, .featured-services ul li {
  margin-bottom: 5px;
}

.important-links ul li a, .featured-services ul li a {
  text-decoration: none;
  color: #000;
}

.newsletter-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.newsletter-signup {
  display: flex;
}

.newsletter-signup input {
  padding: 10px;
  margin-right: 10px;
  width: calc(100% - 120px);
  box-sizing: border-box;
}

.newsletter-signup button {
  padding: 10px 20px;
}

.footer-bottom {
  margin-right:0px;
  margin-bottom:0px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .logo-section, .important-links, .featured-services, .newsletter-section {
    margin-bottom: 20px;
  }
}
