.cta-background {
  width: 1455px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -17px;
  background-color: var(--color-gainsboro-100);
}
.cutting-edge-digital-marketing {
  margin: 0;
  width: 432px;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.youve-put-in {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 31.2px;
  z-index: 1;
}
.cta-content {
  width: 623px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  max-width: 100%;
}
.cta-button-child {
  height: 50px;
  width: 166px;
  position: relative;
  background-color: var(--color-whitesmoke);
  display: none;
}
.get-in-touch {
  height: 37px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.cta-background-parent,
.cta-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.cta-button {
  width: 166px;
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  padding: var(--padding-5xs) 0 var(--padding-8xs) var(--padding-3xl);
  white-space: nowrap;
  z-index: 1;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.cta-background-parent {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-64xl) var(--padding-36xl) var(--padding-172xl);
  position: relative;
  gap: var(--gap-xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .cutting-edge-digital-marketing {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }
  .cta-background-parent {
    padding: var(--padding-35xl) var(--padding-8xl) var(--padding-105xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .cutting-edge-digital-marketing {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .youve-put-in {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
}
