.frequently-asked-questions1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 35px;
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
}
.have-more-questions1 {
  flex: 1;
  position: relative;
}
.f-a-q-heading,
.f-a-q-subheading {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.f-a-q-subheading {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-12xs);
  font-size: var(--font-size-xl);
  color: var(--content-contentprimary);
  font-family: var(--font-inter);
}
.f-a-q-heading {
  flex-direction: column;
  gap: var(--gap-4xs);
}
.f-a-q-button-child {
  height: 36.5px;
  width: 151px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
}
.get-in-touch2 {
  position: relative;
  line-height: 27px;
  font-weight: 500;
  z-index: 1;
}
.f-a-q-button,
.f-a-q-header,
.f-a-q-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.f-a-q-button {
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-9xs-5)
    var(--padding-smi);
  white-space: nowrap;
  font-size: var(--font-size-xl);
}
.f-a-q-header,
.f-a-q-title {
  flex-direction: column;
}
.f-a-q-title {
  align-self: stretch;
  gap: var(--gap-lgi);
}
.f-a-q-header {
  width: 319px;
  padding: var(--padding-10xl) 0 0;
  box-sizing: border-box;
  min-width: 319px;
}
.faqs10,
.faqs11,
.faqs6,
.faqs7,
.faqs8,
.faqs9 {
  align-self: stretch;
  height: 69.4px;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
}
.f-a-q-items {
  width: 488.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid-8);
  min-width: 488.4px;
  max-width: 100%;
}
.f-a-q-content,
.f-a-q-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.f-a-q-content {
  width: 1060.4px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.f-a-q-content-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-3xl-6);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1125px) {
  .f-a-q-header,
  .f-a-q-items {
    flex: 1;
  }
  .f-a-q-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .frequently-asked-questions1 {
    font-size: var(--font-size-5xl);
    line-height: 28px;
  }
  .f-a-q-items {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .frequently-asked-questions1 {
    font-size: var(--font-size-lg);
    line-height: 21px;
  }
  .have-more-questions1 {
    font-size: var(--font-size-base);
  }
}
