.background4 {
  height: 58px;
  width: 75.2px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 41px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  z-index: 1;
}
.links-content-parent {
  width: 766.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-19xl-2);
  max-width: 100%;
}
@media screen and (max-width: 750px) {
  .links-content-parent {
    flex-wrap: wrap;
    gap: var(--gap-lgi);
  }
}
