.glimpse-of-clients {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.client-logo-title {
  width: 1234px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.client-logo-image {
  border: 0;
  background-color: var(--color-gainsboro-100);
  height: 225px;
  width: auto;
  outline: 0;
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xl);
}
.client-logo-image-wrapper {
  width: 258px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.client-logo-container-child,
.client-logo-container-item,
.client-logo-nav-button {
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 250px;
}
.client-logo-container-child,
.client-logo-container-item {
  border: 0;
  height: 225px;
  outline: 0;
  position: relative;
  z-index: 1;
}
.client-logo-nav-button {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.vector-icon17,
.vector-icon18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.vector-icon18 {
  top: 9px;
  left: 20px;
  width: 6px;
  height: 22.1px;
  z-index: 2;
}
.vector-container {
  position: absolute;
  top: 90.9px;
  left: 230px;
  width: 40px;
  height: 40.2px;
}
.client-logo-navigation-buttons {
  align-self: stretch;
  height: 225px;
  position: relative;
}
.client-logo-navigation {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.client-logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-56xl);
}
.client-logo-header,
.client-logo-header-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.client-logo-header {
  flex-direction: column;
  gap: var(--gap-14xl);
}
.client-logo-header-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-40xl) var(--padding-14xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1300px) {
  .client-logo-container {
    flex-wrap: wrap;
  }
  .client-logo-header-wrapper {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .glimpse-of-clients {
    font-size: var(--font-size-5xl);
    line-height: 25px;
  }
  .client-logo-container {
    gap: var(--gap-18xl);
  }
  .client-logo-header {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .glimpse-of-clients {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
  .client-logo-container {
    gap: var(--gap-lgi);
  }
}
