.surbhi {
  font-weight: 600;
}
.hi-im-surbhi-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  z-index: 2;
  font-family: inherit;
}
.designation1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  z-index: 3;
}
.team-member-description-conten {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.team-member-description-conten-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) var(--padding-26xl);
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 750px) {
  .hi-im-surbhi-container {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 450px) {
  .hi-im-surbhi-container {
    font-size: var(--font-size-lg);
  }
  .designation1 {
    font-size: var(--font-size-base);
  }
}
