.mission-values-child {
  align-self: stretch;
  width: 1248px;
  position: relative;
  max-height: 100%;
  display: none;
  min-height: 641px;
  max-width: 100%;
}
.mission-icon,
.our-mission {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.mission-icon {
  width: 145px;
  height: 15px;
  background-color: var(--color-dimgray-100);
}
.our-mission {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 36.6px;
  font-weight: 400;
  font-family: inherit;
}
.mission-icon-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs-3);
}
.paragraph20 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-inter);
  z-index: 1;
}
.frame-parent38 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  gap: var(--gap-12xs-1);
}
.frame-child25 {
  width: 145px;
  height: 15px;
  position: relative;
  background-color: var(--color-dimgray-100);
  z-index: 1;
}
.paragraph21,
.values {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.values {
  margin: 0;
  font-size: inherit;
  line-height: 36.6px;
  font-weight: 400;
  font-family: inherit;
}
.paragraph21 {
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-inter);
}
.rectangle-parent13,
.values-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-1);
}
.rectangle-parent13 {
  gap: var(--gap-xs-3);
}
.lets-start-your {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  z-index: 1;
}
.journey-button {
  width: 250px;
  height: 4px;
  position: relative;
  background-color: var(--color-dimgray-100);
  z-index: 1;
}
.lets-start-your-journey-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.frame-parent37,
.lets-start-your-journey-parent,
.mission-values-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent37 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-141xl);
}
.mission-values-container {
  width: 623px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-16xl-5);
  box-sizing: border-box;
  min-width: 623px;
  max-width: 100%;
}
.values-graphic-icon {
  height: 643.5px;
  width: 2px;
  position: relative;
  z-index: 1;
}
.graphic {
  height: 37px;
  position: relative;
  line-height: 31.2px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 81px;
  z-index: 1;
}
.graphic-wrapper {
  height: 307.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.values-graphic-parent {
  width: 348px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 348px;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.mission-values,
.mission-values-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.mission-values {
  width: 1248px;
  background-color: var(--color-gainsboro-100);
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-26xl);
  row-gap: 20px;
}
.mission-values-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-30xl-5);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1100px) {
  .mission-values-container {
    flex: 1;
    min-width: 100%;
  }
  .values-graphic-parent {
    flex: 1;
  }
  .mission-values {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .our-mission,
  .values {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .frame-parent37 {
    gap: var(--gap-61xl);
  }
  .values-graphic-parent {
    min-width: 100%;
  }
  .mission-values-wrapper {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .our-mission {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .paragraph20 {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .values {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .lets-start-your,
  .paragraph21 {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .frame-parent37 {
    gap: var(--gap-21xl);
  }
  .graphic {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
}