.about-intro-child {
  border: 0;
  background-color: var(--color-gainsboro-100);
  height: 300px;
  width: 499.7px;
  outline: 0;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-108xl) var(--padding-64xl);
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: var(--font-size-2xl);
  color: var(--color-dimgray-100);
  min-width: 499.7px;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 var(--br-31xl) var(--br-31xl) var(--br-31xl);
  background-color: var(--color-gainsboro-200);
  width: 205.9px;
}
.who-were {
  position: absolute;
  top: 12px;
  left: 22.4px;
  font-weight: 600;
  display: inline-block;
  width: 347.8px;
  height: 45px;
  z-index: 1;
}
.rectangle-parent {
  width: 390.2px;
  height: 68px;
  position: relative;
  max-width: 100%;
  font-family: var(--font-poppins);
}
.a-paragraph {
  position: relative;
  display: inline-block;
  min-width: 117.9px;
}
.about-paragraph-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.read-more-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro-100);
  width: 145.9px;
  height: 36px;
}
.read-more {
  position: absolute;
  top: 5px;
  left: 27px;
  font-weight: 600;
  display: inline-block;
  width: 153.9px;
  height: 31px;
  z-index: 1;
}
.read-more-button {
  width: 200.9px;
  height: 36px;
  position: relative;
  font-family: var(--font-poppins);
}
.about-paragraph,
.about-paragraph-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.about-paragraph {
  width: 497.6px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-53xl);
}
.about-paragraph-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  font-size: var(--font-size-xl);
}
.what-we-do {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.services-title {
  width: 479.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-58xl);
  flex-shrink: 0;
}
.about-details,
.about-intro,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.about-details {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 368px;
}
.about-intro {
  width: 1077.2px;
  flex-direction: row;
  gap: var(--gap-xs-9);
}
.about-separator-left,
.about-separator-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-separator-right {
  top: 12.2px;
  left: 14.5px;
  width: 12.3px;
  height: 5.7px;
  z-index: 1;
}
.about-separator-left-parent {
  width: 41.3px;
  height: 37.7px;
  position: relative;
}
.about-separator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-159xl-1) 0 0;
}
.about-content,
.about-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.about-content {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.about-content-wrapper {
  width: 1371.4px;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) var(--padding-14xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1275px) {
  .about-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .about-intro-child {
    flex: 1;
  }
  .about-intro {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .about-intro-child {
    min-width: 100%;
  }
  .who-were {
    font-size: var(--font-size-5xl);
  }
  .about-paragraph {
    gap: var(--gap-17xl);
  }
  .what-we-do {
    font-size: var(--font-size-5xl);
    line-height: 25px;
  }
  .frame-group {
    gap: var(--gap-19xl);
  }
}
@media screen and (max-width: 450px) {
  .who-were {
    font-size: var(--font-size-lg);
  }
  .a-paragraph,
  .read-more {
    font-size: var(--font-size-base);
  }
  .what-we-do {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
  .frame-group {
    gap: var(--gap-lgi);
  }
  .about-details {
    min-width: 100%;
  }
}
