.frame-child4,
.frame-child5 {
  border: 1px solid var(--content-contentprimary);
  box-sizing: border-box;
}
.frame-child4 {
  width: 345px;
  height: 668px;
  position: relative;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  display: none;
  max-width: 100%;
  z-index: 0;
}
.frame-child5 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
.ellipse-div {
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  z-index: 2;
}
.ellipse-wrapper {
  align-self: stretch;
  height: 149px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lgi) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.paragraph9 {
  width: 193px;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  z-index: 2;
}
.rectangle-parent2 {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--content-contentprimary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-38xl) var(--padding-55xl) var(--padding-225xl);
  position: relative;
  gap: var(--gap-13xl);
  min-width: 259px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 750px) {
  .rectangle-parent2 {
    padding-top: var(--padding-18xl);
    padding-bottom: var(--padding-140xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .paragraph9 {
    font-size: var(--font-size-base);
  }
  .rectangle-parent2 {
    gap: var(--gap-base);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
