.frame-child9 {
  width: 345px;
  height: 668px;
  position: relative;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.25));
  border: 1px solid var(--content-contentprimary);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.frame-child10 {
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  z-index: 1;
}
.ellipse-frame {
  align-self: stretch;
  height: 149px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-lgi);
  box-sizing: border-box;
}
.surbhi2 {
  font-weight: 600;
}
.hi-im-surbhi-container2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  z-index: 1;
  font-family: inherit;
}
.designation3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  z-index: 2;
}
.hi-im-surbhi-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-23xl);
}
.paragraph12 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.paragraph-frame,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph-frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--font-size-xl);
}
.rectangle-parent5 {
  flex: 1;
  box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--content-contentprimary);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-38xl) var(--padding-47xl) var(--padding-222xl)
    var(--padding-64xl);
  gap: var(--gap-16xl);
  min-width: 259px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 750px) {
  .hi-im-surbhi-container2 {
    font-size: var(--font-size-5xl);
  }
  .rectangle-parent5 {
    padding-top: var(--padding-18xl);
    padding-bottom: var(--padding-138xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .hi-im-surbhi-container2 {
    font-size: var(--font-size-lg);
  }
  .designation3,
  .paragraph12 {
    font-size: var(--font-size-base);
  }
  .rectangle-parent5 {
    gap: var(--gap-mid);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
