.form-background {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro-300);
  z-index: 1;
}
.fill-out-the {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32.7px;
  font-weight: 600;
  font-family: inherit;
  flex-shrink: 0;
  z-index: 2;
}
.fill-out-the-form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-64xl) 0 var(--padding-61xl);
}
.form-subtitle-child {
  height: 75.6px;
  width: 526px;
  position: absolute;
  margin: 0 !important;
  top: -37.8px;
  left: calc(50% - 263px);
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-gainsboro-100);
}
.to-receive-a {
  position: relative;
  line-height: 32.7px;
  font-weight: 300;
  flex-shrink: 0;
  z-index: 2;
}
.form-heading,
.form-subtitle,
.form-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-subtitle {
  flex-direction: row;
  position: relative;
  margin-top: -5.1px;
  font-size: var(--font-size-xl);
}
.form-heading,
.form-title {
  flex-direction: column;
  max-width: 100%;
}
.form-heading {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-43xl);
  box-sizing: border-box;
}
.rectangle-56-stroke2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.first-name-icon2 {
  position: absolute;
  top: 15px;
  left: 8px;
  width: 63.3px;
  height: 14.8px;
  z-index: 4;
}
.name-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.name-input1 {
  height: 63px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 157px;
}
.rectangle-57-stroke2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.website-icon1 {
  position: absolute;
  top: 15px;
  left: 5px;
  width: 76.2px;
  height: 15.3px;
  z-index: 4;
}
.rectangle-57-stroke-group {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.name-field,
.name-input2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-input2 {
  height: 63px;
  flex: 1;
  position: relative;
  min-width: 157px;
}
.name-field {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-25xl);
}
.rectangle-58-stroke2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.email-icon2 {
  position: absolute;
  top: 12.9px;
  left: 6.6px;
  width: 58.6px;
  height: 15.4px;
  z-index: 4;
}
.email-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.email-input2 {
  width: 242px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.what-are-you-looking-for1 {
  align-self: stretch;
  height: 19.4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.rectangle-62-stroke1 {
  margin: 0;
  height: 15px;
  width: 20px;
  position: relative;
  z-index: 3;
}
.option-1-icon1 {
  height: 19.2px;
  width: 75.2px;
  position: relative;
  z-index: 3;
}
.dropdown-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-1);
}
.option-2-icon1,
.rectangle-63-stroke1 {
  position: relative;
  flex-shrink: 0;
  z-index: 3;
}
.rectangle-63-stroke1 {
  margin: 0;
  height: 15px;
  width: 20px;
}
.option-2-icon1 {
  height: 19.2px;
  width: 79.3px;
}
.dropdown-options1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-1);
}
.option-3-icon1,
.rectangle-64-stroke1 {
  position: relative;
  flex-shrink: 0;
  z-index: 3;
}
.rectangle-64-stroke1 {
  margin: 0;
  height: 15px;
  width: 20px;
}
.option-3-icon1 {
  height: 19.2px;
  width: 79.9px;
}
.dropdown-options2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-1);
}
.service-dropdown {
  flex: 1;
  flex-direction: column;
  gap: 15.4px;
}
.email-field1,
.service-dropdown,
.service-selection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.service-selection {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
}
.email-field1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-16xl);
  min-width: 162px;
}
.rectangle-59-stroke2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.phone-icon2 {
  position: absolute;
  top: 13.5px;
  left: 8.6px;
  width: 68.1px;
  height: 14.8px;
  z-index: 4;
}
.phone-input1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.phone-field1 {
  align-self: stretch;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.option-4-icon1,
.rectangle-65-stroke1 {
  position: relative;
  flex-shrink: 0;
  z-index: 3;
}
.rectangle-65-stroke1 {
  margin: 0;
  height: 15px;
  width: 20px;
}
.option-4-icon1 {
  height: 19.2px;
  width: 80.3px;
}
.options-fields {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-1);
}
.rectangle-66-stroke1 {
  margin: 0;
  height: 15px;
  width: 20px;
  position: relative;
  z-index: 3;
}
.option-5-icon1 {
  height: 19.2px;
  width: 79.5px;
  position: relative;
  z-index: 3;
}
.options-fields1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-1);
}
.option-6-icon1,
.rectangle-67-stroke1 {
  position: relative;
  flex-shrink: 0;
  z-index: 3;
}
.rectangle-67-stroke1 {
  margin: 0;
  height: 15px;
  width: 20px;
}
.option-6-icon1 {
  height: 19.2px;
  width: 79.8px;
}
.options-fields2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-1);
}
.options-form {
  flex-direction: column;
  gap: 15.3px;
}
.options-form,
.phone-business,
.phone-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.phone-options {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
}
.phone-business {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-50xl);
  min-width: 157px;
}
.email-website,
.form-fields1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.email-website {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-13xl-5);
}
.form-fields1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xl);
}
.rectangle-68-stroke2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.message-icon1 {
  position: absolute;
  top: 10.5px;
  left: 16.6px;
  width: 94.2px;
  height: 18.9px;
  z-index: 4;
}
.message-input1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.message-field-wrapper,
.message-field1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.message-field1 {
  height: 149px;
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.message-field-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.send-message1,
.submit-button-child {
  position: absolute;
  top: 0;
  left: 33px;
  width: 146px;
  height: 46px;
  z-index: 3;
}
.send-message1 {
  top: 14px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 209px;
  height: 18px;
  z-index: 4;
}
.submit-button1 {
  height: 46px;
  width: 209px;
  position: relative;
}
.submit-button-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-6xl) 0 var(--padding-xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-whitesmoke);
}
.form-container,
.form1 {
  display: flex;
  max-width: 100%;
}
.form1 {
  width: 770px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs-2) var(--padding-101xl) var(--padding-sm);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-6xl-1);
}
.form-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 800px) {
  .fill-out-the {
    font-size: var(--font-size-5xl);
    line-height: 25px;
  }
  .form-heading {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .name-field {
    gap: var(--gap-3xl);
  }
  .email-website {
    gap: var(--gap-base);
  }
  .form1 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .fill-out-the {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
  .fill-out-the-form-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .to-receive-a {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .form1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
