.frame-child14 {
  height: 72px;
  width: 165px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.logo4 {
  text-decoration: none;
  position: relative;
  line-height: 23.3px;
  color: inherit;
  display: inline-block;
  min-width: 50px;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent7 {
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-38xl) var(--padding-5xl-7)
    var(--padding-39xl);
  color: var(--color-dimgray-100);
}
.parent2 {
  align-self: stretch;
  height: 40px;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--content-contentprimary);
}
.frame-wrapper {
  width: 123px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.account-dropdown {
  height: 20px;
  width: 95px;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--content-contentprimary);
}
.signed-by-base-input-element5 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.login-placeholder {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
  white-space: nowrap;
}
.input-element-content-frame,
.input-element-content5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-element-content5 {
  overflow: hidden;
  flex-direction: row;
  z-index: 1;
}
.input-element-content-frame {
  flex-direction: column;
  padding: 0 var(--padding-3xs) 0 0;
}
.signed-by-base-input-element6 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.signup-placeholder {
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.account-dropdown-parent,
.input-element-content6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-element-content6 {
  overflow: hidden;
  z-index: 1;
}
.account-dropdown-parent {
  gap: var(--gap-30xl);
}
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xl) var(--padding-4xl) 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-sm);
}
.hero-content1 {
  width: 89px;
  height: 20px;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--content-contentprimary);
}
.hero-content-container {
  width: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xl);
  box-sizing: border-box;
}
.signed-by-base-input-element7 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.cta-placeholder {
  flex: 1;
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.input-element-content7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.image-7-icon4 {
  width: 24px;
  height: 19px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-7-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.frame-child15 {
  height: 99px;
  width: 262px;
  position: absolute;
  margin: 0 !important;
  top: -56px;
  right: -88px;
  border-radius: var(--br-mini);
}
.span4 {
  text-decoration: underline;
}
.a5 {
  color: inherit;
}
.cta-image-caption-container {
  text-decoration: none;
  position: relative;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
  z-index: 1;
}
.vector-group {
  flex-direction: row;
  position: relative;
}
.frame-parent22,
.input-element-content-group,
.vector-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent22 {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-6xs);
  font-size: var(--font-size-base);
}
.input-element-content-group {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.frame-header,
.frame-wrapper2 {
  display: flex;
  box-sizing: border-box;
}
.frame-wrapper2 {
  width: 242px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
  font-size: var(--font-size-xl);
}
.frame-header {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mid);
  gap: var(--gap-28xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--content-contentprimary);
  font-family: var(--font-inter);
}
.careers-start-here,
.liner {
  width: 623px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.careers-start-here {
  margin: 0;
  font-size: inherit;
  line-height: 36.6px;
  font-weight: 400;
  font-family: inherit;
}
.liner {
  height: 36.6px;
  font-size: var(--font-size-xl);
  line-height: 31.2px;
  font-family: var(--font-inter);
  flex-shrink: 0;
}
.careers-intro-image-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 100%;
}
.careers-intro-image {
  position: absolute;
  top: 100px;
  left: 281px;
  background-color: var(--color-dimgray-100);
  width: 145px;
  height: 15px;
  z-index: 1;
}
.careers-intro-image-background-parent {
  width: 1455px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -15px;
  bottom: 0;
}
.careers-intro,
.header3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.careers-intro {
  align-items: flex-start;
  padding: var(--padding-107xl-3) var(--padding-xl) var(--padding-127xl)
    var(--padding-262xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-12xs-1);
  min-height: 346px;
}
.header3 {
  align-items: flex-end;
  gap: var(--gap-27xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1125px) {
  .cta-placeholder {
    display: none;
  }
  .careers-intro {
    padding-left: var(--padding-121xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .account-dropdown-parent {
    gap: var(--gap-5xl);
  }
  .frame-header {
    gap: var(--gap-4xl);
  }
  .careers-start-here {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .header3 {
    gap: var(--gap-4xl);
  }
}
@media screen and (max-width: 450px) {
  .careers-start-here {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .liner {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .careers-intro {
    padding-left: var(--padding-51xl);
    box-sizing: border-box;
  }
}
