.testimonial-background {
  width: 1455px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -15px;
  bottom: 0;
  background-color: var(--color-gainsboro-100);
}
.banner3,
.youve-put-in2 {
  width: 623px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.banner3 {
  margin: 0;
  font-size: inherit;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
}
.youve-put-in2 {
  height: 36.6px;
  font-size: var(--font-size-xl);
  line-height: 31.2px;
  font-family: var(--font-inter);
  flex-shrink: 0;
}
.header5,
.testimonial1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.testimonial1 {
  align-items: flex-start;
  padding: var(--padding-107xl-3) var(--padding-xl) var(--padding-108xl-4)
    var(--padding-262xl);
  position: relative;
  gap: var(--gap-base-7);
}
.header5 {
  align-items: flex-end;
  padding: 0 0 var(--padding-11xl);
  gap: var(--gap-27xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1100px) {
  .testimonial1 {
    padding-left: var(--padding-121xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .banner3 {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }
  .header5 {
    gap: var(--gap-4xl);
  }
}
@media screen and (max-width: 450px) {
  .banner3 {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .youve-put-in2 {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  .testimonial1 {
    padding-left: var(--padding-51xl);
    box-sizing: border-box;
  }
}
