.frame-child21 {
  height: 72px;
  width: 165px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.logo7 {
  text-decoration: none;
  position: relative;
  line-height: 23.3px;
  color: inherit;
  display: inline-block;
  min-width: 50px;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent12 {
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-38xl) var(--padding-5xl-7)
    var(--padding-39xl);
  color: var(--color-dimgray-100);
}
.search-input {
  align-self: stretch;
  height: 40px;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--content-contentprimary);
}
.navigation1 {
  width: 123px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.hero-form {
  height: 20px;
  width: 95px;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--content-contentprimary);
}
.signed-by-base-input-element8 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.text32 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
  white-space: nowrap;
}
.input-element-content8,
.password-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-element-content8 {
  overflow: hidden;
  flex-direction: row;
  z-index: 1;
}
.password-input {
  flex-direction: column;
  padding: 0 var(--padding-3xs) 0 0;
}
.signed-by-base-input-element9 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.submit-label {
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.hero-content2,
.input-element-content9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-element-content9 {
  overflow: hidden;
  z-index: 1;
}
.hero-content2 {
  gap: var(--gap-30xl);
}
.feature-list,
.hero {
  font-size: var(--font-size-sm);
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xl) var(--padding-4xl) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.feature-list {
  width: 89px;
  height: 20px;
  font-family: var(--font-inter);
  color: var(--content-contentprimary);
}
.features {
  width: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.signed-by-base-input-element10 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.content-placeholder {
  flex: 1;
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.input-element-content10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.image-7-icon7 {
  width: 24px;
  height: 19px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.image-caption-child {
  height: 99px;
  width: 262px;
  position: absolute;
  margin: 0 !important;
  top: -56px;
  right: -88px;
  border-radius: var(--br-mini);
}
.span7 {
  text-decoration: underline;
}
.a8,
.a9 {
  color: inherit;
}
.a8 {
  text-decoration: none;
  position: relative;
  font-weight: 300;
  white-space: nowrap;
  z-index: 1;
}
.image-caption {
  flex-direction: row;
  position: relative;
}
.content-block,
.content-media,
.image-caption {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-media {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-6xs);
  font-size: var(--font-size-base);
}
.content-block {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.content4,
.header4 {
  display: flex;
  box-sizing: border-box;
}
.content4 {
  width: 242px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
  flex-shrink: 0;
  font-size: var(--font-size-xl);
}
.header4 {
  width: 1429px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs) var(--padding-xl);
  gap: var(--gap-28xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--content-contentprimary);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1125px) {
  .content-placeholder {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .hero-content2 {
    gap: var(--gap-5xl);
  }
  .header4 {
    gap: var(--gap-4xl);
  }
}
