.frame-child15 {
  height: 72px;
  width: 165px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.logo8 {
  text-decoration: none;
  position: relative;
  line-height: 23.3px;
  color: inherit;
  display: inline-block;
  min-width: 50px;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent8 {
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-38xl) var(--padding-5xl-7)
    var(--padding-39xl);
  color: var(--color-dimgray-100);
}
.frame-formcontrol {
  align-self: stretch;
  height: 40px;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--content-contentprimary);
}
.header-inner {
  width: 123px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.parent1 {
  height: 20px;
  width: 95px;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--content-contentprimary);
}
.signed-by-base-input-element8 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.text26 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
  white-space: nowrap;
}
.input-element-content-frame,
.input-element-content8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-element-content8 {
  overflow: hidden;
  flex-direction: row;
  z-index: 1;
}
.input-element-content-frame {
  flex-direction: column;
  padding: 0 var(--padding-3xs) 0 0;
}
.signed-by-base-input-element9 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.text27 {
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.frame-parent34,
.input-element-content9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-element-content9 {
  overflow: hidden;
  z-index: 1;
}
.frame-parent34 {
  gap: var(--gap-30xl);
}
.header-child,
.parent2 {
  font-size: var(--font-size-sm);
}
.header-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xl) var(--padding-4xl) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.parent2 {
  width: 89px;
  height: 20px;
  font-family: var(--font-inter);
  color: var(--content-contentprimary);
}
.header-inner1 {
  width: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xl);
  box-sizing: border-box;
}
.signed-by-base-input-element10 {
  height: 1px;
  width: 1px;
  position: relative;
  display: none;
}
.text28 {
  flex: 1;
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.input-element-content10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.image-7-icon8 {
  width: 24px;
  height: 19px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image-7-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.frame-child16 {
  height: 99px;
  width: 262px;
  position: absolute;
  margin: 0 !important;
  top: -56px;
  right: -88px;
  border-radius: var(--br-mini);
}
.span8 {
  text-decoration: underline;
}
.a10,
.a9 {
  color: inherit;
}
.a9 {
  text-decoration: none;
  position: relative;
  font-weight: 300;
  white-space: nowrap;
  z-index: 1;
}
.vector-container {
  flex-direction: row;
  position: relative;
}
.frame-parent35,
.input-element-content-group,
.vector-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent35 {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-6xs);
  font-size: var(--font-size-base);
}
.input-element-content-group {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.header-inner2,
.header5 {
  display: flex;
  box-sizing: border-box;
}
.header-inner2 {
  width: 242px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
  font-size: var(--font-size-xl);
}
.header5 {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mid);
  gap: var(--gap-28xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--content-contentprimary);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1100px) {
  .text28 {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent34 {
    gap: var(--gap-5xl);
  }
  .header5 {
    gap: var(--gap-4xl);
  }
}