.cta-background2 {
  width: 1455px;
  height: calc(100% - 19px);
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -15px;
  bottom: 19px;
  background-color: var(--color-gainsboro-100);
}
.a-big-line {
  margin: 0;
  height: 51px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.cta-content1,
.youve-put-in1 {
  width: 623px;
  display: flex;
  max-width: 100%;
}
.cta-content1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
}
.youve-put-in1 {
  position: relative;
  line-height: 31.2px;
  align-items: center;
  z-index: 1;
}
.button-container-item {
  height: 50px;
  width: 209px;
  position: relative;
  background-color: var(--color-whitesmoke);
  display: none;
}
.book-consultation {
  height: 37px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.button-container-inner,
.button-container1 {
  background-color: var(--color-whitesmoke);
  z-index: 1;
}
.button-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xs) var(--padding-12xs)
    var(--padding-2xs);
  white-space: nowrap;
}
.button-container-inner {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 180px;
}
.explore-pricing {
  position: absolute;
  top: 9px;
  left: 15px;
  font-weight: 500;
  display: inline-block;
  width: 188px;
  height: 37px;
  z-index: 2;
}
.button-container2 {
  height: 50px;
  flex: 1;
  position: relative;
  min-width: 132px;
}
.call-to-action1,
.cta-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cta-buttons {
  width: 436px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-5xl);
  font-family: var(--font-poppins);
}
.call-to-action1 {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-157xl) var(--padding-262xl) var(--padding-87xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs);
  min-height: 501px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1300px) {
  .call-to-action1 {
    padding-left: var(--padding-121xl);
    padding-right: var(--padding-121xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .a-big-line {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }
  .call-to-action1 {
    padding: var(--padding-95xl) var(--padding-51xl) var(--padding-50xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .a-big-line {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .youve-put-in1 {
    line-height: 25px;
  }
  .explore-pricing,
  .youve-put-in1 {
    font-size: var(--font-size-base);
  }
  .call-to-action1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
