.featured-services4 {
  position: relative;
  line-height: 32px;
  z-index: 1;
}
.chevron-right-small30 {
  cursor: pointer;
  margin: 0;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 1;
}
.chevron-right-small-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.link-name2 {
  margin-bottom: -2px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 30px;
  z-index: 1;
}
.link-name-frame {
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.underline-icon39 {
  width: 32px;
  height: 1px;
  position: relative;
  z-index: 2;
}
.service-label,
.service-link1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.service-label {
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
}
.service-link1 {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.chevron-right-small31 {
  cursor: pointer;
  margin: 0;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 1;
}
.chevron-right-small-wrapper14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.text34 {
  margin-bottom: -2px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 30px;
  z-index: 1;
}
.text-wrapper16 {
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.underline-icon40 {
  width: 32px;
  height: 1px;
  position: relative;
  z-index: 2;
}
.frame-parent44,
.service-item2,
.service-link2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent44 {
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
}
.service-item2,
.service-link2 {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.service-item2 {
  flex-direction: column;
  gap: var(--gap-mini);
}
.chevron-right-small32 {
  cursor: pointer;
  margin: 0;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 1;
}
.chevron-right-small-wrapper15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.link-name3 {
  margin-bottom: -2px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 30px;
  z-index: 1;
}
.link-name-wrapper1 {
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.underline-icon41 {
  width: 32px;
  height: 1px;
  position: relative;
  z-index: 2;
}
.newsletter-label1 {
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
}
.newsletter-label1,
.newsletter-link2,
.service-header,
.service-items1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter-link2 {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.service-header,
.service-items1 {
  flex-direction: column;
}
.service-items1 {
  gap: var(--gap-mini);
  font-size: var(--font-size-base);
}
.service-header {
  gap: var(--gap-3xs);
  min-width: 180.5px;
}
.newsletter-section4 {
  position: relative;
  font-size: var(--font-size-2xl);
  line-height: 32px;
  z-index: 1;
}
.chevron-right-small33 {
  cursor: pointer;
  margin: 0;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 1;
}
.chevron-right-small-wrapper16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.link-name4 {
  margin-bottom: -2px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 30px;
  z-index: 1;
}
.link-name-wrapper2 {
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.underline-icon42 {
  width: 32px;
  height: 1px;
  position: relative;
  z-index: 2;
}
.newsletter-label-container,
.newsletter-redirect {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter-label-container {
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
}
.newsletter-redirect {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.chevron-right-small34 {
  cursor: pointer;
  margin: 0;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 1;
}
.chevron-right-small-wrapper17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.text35 {
  margin-bottom: -2px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 30px;
  z-index: 1;
}
.text-wrapper17 {
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.underline-icon43 {
  width: 32px;
  height: 1px;
  position: relative;
  z-index: 2;
}
.frame-parent45,
.newsletter-item5,
.newsletter-redirect1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent45 {
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
}
.newsletter-item5,
.newsletter-redirect1 {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.newsletter-item5 {
  flex-direction: column;
  gap: var(--gap-mini);
}
.chevron-right-small35 {
  cursor: pointer;
  margin: 0;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 1;
}
.chevron-right-small-wrapper18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.link-name5 {
  margin-bottom: -2px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 30px;
  z-index: 1;
}
.link-name-wrapper3 {
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.underline-icon44 {
  width: 32px;
  height: 1px;
  position: relative;
  z-index: 2;
}
.empty-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
}
.empty-link {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.empty-link,
.newsletter1,
.service-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter1 {
  flex-direction: column;
  gap: var(--gap-sm);
  min-width: 190.5px;
  font-size: var(--font-size-base);
}
.service-content {
  flex-direction: row;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.rentifi-all-rights4 {
  position: relative;
  line-height: 32px;
  font-weight: 300;
  z-index: 1;
}
.copyright2,
.service-links {
  display: flex;
  align-items: flex-start;
}
.copyright2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-smi);
  font-family: var(--font-poppins);
}
.service-links {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-81xl);
  min-width: 275px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--content-contentprimary);
  font-family: var(--font-inter);
}
@media screen and (max-width: 800px) {
  .newsletter1,
  .service-header {
    flex: 1;
  }
  .service-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .featured-services4,
  .newsletter-section4 {
    font-size: var(--font-size-mid);
    line-height: 25px;
  }
  .service-links {
    gap: var(--gap-31xl);
  }
}
