.quality-cards-container {
  text-align: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.section-heading {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
  font-weight: 600;
}

.quality-cards {
  display: grid;
  gap: 20px;
  width: 100%;
  justify-items: center;
  align-items: start;
}

.quality-card {
  background: #fff;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 100%;
  transition: transform 0.2s ease-in-out; /* Optional: Add hover effect */
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.icon-placeholder {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality-text {
  font-weight: bold;
  margin-bottom: 5px;
}

.paragraph-text {
  font-size: 0.9em;
  color: #000;
}

.quality-icon {
  width: 50px; /* Adjust icon size as needed */
  height: 50px; /* Adjust icon size as needed */
  margin-bottom: 10px;
}
