.mission-values-wrapper {
  display: flex;
  justify-content: center;
  padding: var(--padding-30xl-5) var(--padding-xl);
  width: 100%;
  box-sizing: border-box;
}

.mission-values {
  display: flex;
  background: linear-gradient(to right, #f2b500, #ff9900); 
  padding: var(--padding-26xl);
  max-width: 1400px; 
  width: 100%;
  margin: 0 0;
  box-sizing: border-box;
}

.mission-values-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 623px; 
}

.mission-section,
.values-section {
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-line {
  width: 145px;
  height: 15px;
  background-color: #5d90e4;
}

.section-title {
  font-size: var(--font-size-11xl);
  line-height: 36.6px;
  font-weight: 400;
  color: black;
  margin: 0;
}

.section-paragraph {
  font-size: 15px;
  line-height: 32px;
  font-family: var(--font-inter);
  color: var(--color-dimgray-100);
}

.journey-section {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.journey-text {
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-inter);
  color: black;
}


.graphic-section {
  width:50%;
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
  position: relative;
}


.graphic-image {
  max-width: 100%;
  height: auto;
}


@media screen and (max-width: 1100px) {
  .mission-values {
    flex-direction: column;
    align-items: center;
  }
  
  .graphic-section {
    margin-top: var(--gap-xl);
    margin-left: 0; 
  }

  .mission-values-content {
    max-width: 100%; 
  }
}

@media screen and (max-width: 750px) {
  .section-title {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  
  .mission-values-content {
    gap: var(--gap-61xl);
  }
}

@media screen and (max-width: 450px) {
  .section-title {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  
  .section-paragraph,
  .journey-text,
  .graphic-text {
    font-size: var(--font-size-base);
    line-height: 25px;
  }
  
  .mission-values-content {
    gap: var(--gap-21xl);
  }
}
