.meet-our-team-section {
  text-align: center;
  margin-top: 0px;
}

.meet-our-team-heading {
  font-size: 32px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.profile-cards-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  overflow-x: auto;
}

.profile-card {
  flex: 1;
  box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--content-contentprimary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 20px;
  gap: 20px;
  min-width: 259px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}

.ellipse-container {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hi-im-surbhi-container1 {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
  color: black;
  text-align: center;
}

.surbhi1 {
  font-weight: 600;
  text-align: center;
}

.designation3 {
  font-size: 18px;
  margin-top: 0px;
  color: black;
  text-align: center;
}

.paragraph-container {
  font-size: 15px;
  color: var(--color-dimgray-100);
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .profile-cards-row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .hi-im-surbhi-container1 {
    font-size: 1.2em;
  }
  .profile-card {
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .hi-im-surbhi-container1 {
    font-size: 1em;
  }
  .designation3,
  .paragraph-container {
    font-size: 0.9em;
  }
  .profile-card {
    gap: 10px;
    padding: 10px;
  }
}
