@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-rubik: Rubik;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-base: 16px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-mini: 15px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-sm: 14px;
  --font-size-6xl: 25px;

  /* Colors */
  --background-backgroundprimary: #fff;
  --border-borderopaque: #e2e2e2;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.5);
  --color-gainsboro-300: rgba(217, 217, 217, 0.2);
  --color-whitesmoke: #f9f9f9;
  --content-contentprimary: #000;
  --color-darkgray: #999;
  --content-contenttertiary: #5e5e5e;
  --color-dimgray-100: #555;

  /* Gaps */
  --gap-6xl: 25px;
  --gap-xl: 20px;
  --gap-49xl: 68px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-81xl: 100px;
  --gap-31xl: 50px;
  --gap-8xl: 27px;
  --gap-sm: 14px;
  --gap-11xs: 2px;
  --gap-mini: 15px;
  --gap-3xs: 10px;
  --gap-5xs-3: 7.3px;
  --gap-smi: 13px;
  --gap-10xs: 3px;
  --gap-38xl: 57px;
  --gap-9xl: 28px;
  --gap-7xl-9: 26.9px;
  --gap-4xl-9: 23.9px;
  --gap-2xl: 21px;
  --gap-13xl-5: 32.5px;
  --gap-base: 16px;
  --gap-50xl: 69px;
  --gap-base-3: 16.3px;
  --gap-5xs-1: 7.1px;
  --gap-16xl: 35px;
  --gap-base-4: 16.4px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-52xl: 71px;
  --gap-lg: 18px;
  --gap-mid-8: 17.8px;
  --gap-4xs: 9px;
  --gap-xs: 12px;
  --gap-116xl: 135px;
  --gap-48xl: 67px;
  --gap-5xl: 24px;
  --gap-4xl: 23px;
  --gap-69xl: 88px;
  --gap-156xl: 175px;
  --gap-68xl: 87px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-xl-5: 20.5px;
  --gap-42xl-1: 61.1px;
  --gap-12xl: 31px;
  --gap-3xl-3: 22.3px;
  --gap-xs-9: 11.9px;
  --gap-58xl: 77px;
  --gap-53xl: 72px;
  --gap-17xl: 36px;
  --gap-8xs: 5px;
  --gap-6xs: 7px;
  --gap-30xl: 49px;
  --gap-36xl: 55px;
  --gap-27xl: 46px;
  --gap-49xl-2: 68.2px;
  --gap-19xl-2: 38.2px;
  --gap-42xl: 61px;
  --gap-141xl: 160px;
  --gap-61xl: 80px;
  --gap-21xl: 40px;
  --gap-xs-3: 11.3px;
  --gap-12xs-1: 0.1px;
  --gap-13xl: 32px;
  --gap-23xl: 42px;
  --gap-26xl: 45px;
  --gap-173xl: 192px;
  --gap-77xl: 96px;
  --gap-29xl: 48px;
  --gap-28xl: 47px;
  --gap-14xl: 33px;
  --gap-12xs-4: 0.4px;
  --gap-10xl-5: 29.5px;
  --gap-47xl-5: 66.5px;
  --gap-46xl: 65px;
  --gap-3xs-5: 9.5px;

  /* Paddings */
  --padding-base: 16px;
  --padding-62xl: 81px;
  --padding-6xl: 25px;
  --padding-183xl: 202px;
  --padding-xl: 20px;
  --padding-34xl: 53px;
  --padding-82xl: 101px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-7xs: 6px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-38xl: 57px;
  --padding-mini: 15px;
  --padding-39xl: 58px;
  --padding-11xl: 30px;
  --padding-mid: 17px;
  --padding-4xl: 23px;
  --padding-10xs: 3px;
  --padding-3xl: 22px;
  --padding-18xl: 37px;
  --padding-15xl: 34px;
  --padding-9xl: 28px;
  --padding-10xl: 29px;
  --padding-19xl: 38px;
  --padding-6xs: 7px;
  --padding-9xs-5: 3.5px;
  --padding-smi: 13px;
  --padding-88xl: 107px;
  --padding-141xl: 160px;
  --padding-14xl: 33px;
  --padding-5xl: 24px;
  --padding-lgi: 19px;
  --padding-352xl: 371px;
  --padding-166xl: 185px;
  --padding-143xl: 162px;
  --padding-139xl: 158px;
  --padding-8xl: 27px;
  --padding-29xl: 48px;
  --padding-12xl: 31px;
  --padding-45xl: 64px;
  --padding-519xl: 538px;
  --padding-115xl: 134px;
  --padding-250xl: 269px;
  --padding-49xl: 68px;
  --padding-36xl: 55px;
  --padding-smi-9: 12.9px;
  --padding-35xl-4: 54.4px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-35xl: 54px;
  --padding-7xl: 26px;
  --padding-13xl: 32px;
  --padding-159xl-1: 178.1px;
  --padding-108xl: 127px;
  --padding-64xl: 83px;
  --padding-172xl: 191px;
  --padding-105xl: 124px;
  --padding-8xs: 5px;
  --padding-2xl: 21px;
  --padding-9xs: 4px;
  --padding-5xl-7: 24.7px;
  --padding-65xl: 84px;
  --padding-16xl: 35px;
  --padding-30xl-5: 49.5px;
  --padding-26xl: 45px;
  --padding-16xl-5: 35.5px;
  --padding-47xl: 66px;
  --padding-222xl: 241px;
  --padding-138xl: 157px;
  --padding-23xl: 42px;
  --padding-55xl: 74px;
  --padding-56xl: 75px;
  --padding-225xl: 244px;
  --padding-140xl: 159px;
  --padding-21xl: 40px;
  --padding-107xl-3: 126.3px;
  --padding-262xl: 281px;
  --padding-121xl: 140px;
  --padding-51xl: 70px;
  --padding-3xs: 10px;
  --padding-127xl: 146px;
  --padding-22xl: 41px;
  --padding-48xl: 67px;
  --padding-43xl: 62px;
  --padding-177xl: 196px;
  --padding-20xl: 39px;
  --padding-99xl: 118px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-6xl: 25px;
  --br-31xl: 50px;
  --br-xs: 12px;
  --br-mini: 15px;
}
